In [92]:
a = (1,2,3)

In [93]:
# You can choose to leave off the parenthases if you want to
b = 1,2,3

In [94]:
print(a,b)

(1, 2, 3) (1, 2, 3)

In [95]:
# Unlike list, you cannot change, delete, or append tuple objects
# a[0] = 3
# del a[0]
# a.append(4)

In [96]:
# You can slice a tuple to create a new tuple consisting of the elements
a[1:]

(2, 3)

In [97]:
# You can reassign the tuple to delete values though
a = a[1:]
a

(2, 3)

In [98]:
# You can assign two lists to two, but a exists by itself and b exists by itself
a,b = [1,2],[3,4]
print(a,b)

[1, 2] [3, 4]

In [99]:
a

[1, 2]

In [100]:
b

[3, 4]

In [101]:
# Tuple assignment is cross-object
a,b = [1,2]

In [102]:
a

1

In [103]:
b

2

In [104]:
# You cannot assign two to one
# a,b = 3

In [105]:
# zip takes tuples/lists and zip them together
names = ['Kyle','Jag']
numbers = [5,7]
together = zip(names,numbers)
together

In [106]:
# Python's 'next' grabs the next index from the iterator until it throws an error when it crosses the last index
next(together)

('Kyle', 5)

In [107]:
# Gives you the individual tuples in a list from the point of the iterator
list(together)
# Running it again will empty it

[('Jag', 7)]

In [108]:
# Running the tuple in a tuple gives us a tuple of tuples
tuple(together)
# Running it aagain will empty it

()