In [2]:
import pandas as pd

In [4]:
# Create a data frame
df = pd.DataFrame({ # 2D data
    "columnA":[1,2,3], # 1D data
    "columnB":["A","B","C"] # 1D data
}) # 2D data
display(df) # display the data frame
print(df) # print the data frame
df.index.name = "myindex" # set the index name
type(df.index) # get the type of the index

   columnA columnB
0        1       A
1        2       B
2        3       C

   columnA columnB
0        1       A
1        2       B
2        3       C

pandas.core.indexes.range.RangeIndex

In [11]:
# Another way to create the same DataFrame
df = pd.DataFrame([
    [1,"A"],
    [1,"B"],
    [1,"C"]
    ],columns=["columnA","columnB"],index=[0,1,2]) # create an empty data frame
df

   columnA columnB
0        1       A
1        1       B
2        1       C

In [8]:
# df = pd.read_excel("races.xlsx",index=False) # read an excel file (I do not have the excel file rn so it is commended out)

In [12]:
df.info() # get the info of the data frame

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   columnA  3 non-null      int64
 1   columnB  3 non-null      object
dtypes: int64(1), object(1)
memory usage: 72.0+ bytes

In [13]:
df.describe(include="object") # get just the object description of the data frame

       columnB
count        3
unique       3
top          A
freq         1

In [15]:
df.describe(include="all") # get the the entire description of the data frame

        columnA columnB
count       3.0       3
unique      NaN       3
top         NaN       A
freq        NaN       1
mean        1.0     NaN
std         0.0     NaN
min         1.0     NaN
25%         1.0     NaN
50%         1.0     NaN
75%         1.0     NaN
max         1.0     NaN

In [16]:
df.index.name = "id" # set the index name

In [17]:
df.columns.name = "race" # set the columns name

In [18]:
df

race  columnA columnB
id
0           1       A
1           1       B
2           1       C